html {
	height:  100%;
}

body {
	background: linear-gradient(45deg, #FF0000,#9700FF);
	font-family:  Helvetica;
	text-align: center;

}

h1 {
	font-size:  52px;
	text-transform: uppercase;
}

p {
	font-size:  20px;
}

input {
	height:  50px;
	width:  150px;
	padding:  1px, 2px;
	margin-top:  50px;
	border-radius: 7px;
	border: solid black 3px;
}

select {
	border-radius: 5px;
	border:  solid black 3px;
	height:  25px;
	width:  150px;
}